/* -------------------------------------
 * General Style
 * ------------------------------------- */
 :root {
  --main-text-size: 2vw;
  --title-text-size: 2.5vw;
  --main-padding-sides: 15%;
}

.profile{
  margin-bottom: 10%;
}
 .title_profile_page{
    text-align: center;
 }

 
/* -------------------------------------
* timeline
* ------------------------------------- */
#timeline {
  list-style: none;
  margin-left: 30%;
  margin-right: 10%;
  padding-left: 32px;
  border-left: 3px solid var(--main-element-color);

}

#timeline li {
  position: relative;
}

.date {
  display:flex;
  margin-top: -10px;
  top: 50%;
  left: -35%;
  font-size: 1.5vw;
  line-height: 20px;
  position: absolute;
  color: var(--main-text-color);
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 20px;
  height: 20px;
  background: none;
  border: 3px solid var(--main-element-color);
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding-top:10%;
  padding-bottom:1%;
  padding-right:5%;
  padding-left:3%;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  
}

.links_profile{
  color: var(--main-text-color);
  text-decoration:none;
}

.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: none;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: var(--main-text-color);
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
  font-size: 1.3vw;
  letter-spacing: 3px;

}
label {
  font-size: 1.4vw;
  letter-spacing: 3px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
  color: var(--main-text-color);

}

label a{
  text-decoration: None;
  color: var(--main-text-color);
  pointer-events: none;
}

.radio {
  display: none;
}

.radio:hover + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative label a{
  pointer-events: auto;
  text-decoration: underline;
  text-decoration-color: var(--main-text-color);
}

.radio:checked + .relative .circle {
  background: var(--main-text-color);
}
.radio:checked ~ .content {
  max-height: 100vh;
  border-color: var(--main-element-color);
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.radio:checked ~ .content p {
  padding-top:1%;
  max-height: 100vh;
  color: var(--main-text-color);
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
* mobile phones (vertical version only)
* ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 10%;
    padding-left: 0;
    border-left: none;
    
  }

  label {
    width: 85%;
    font-size: 3.5vw;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    height:fit-content;
    border-color: grey;
    padding-top:30%;
    padding-bottom:10%;
  }

  .content:before, .content:after {
    display:none;
  }
 
  .content p {
    font-size: 2.5vw;
    line-height: 1.4;
  }

  .circle, .date {
    display: none;
  }
}
